﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <!--<div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner" id="ct" style="font-size:30px"
                Hãy để tri thức dẫn đường
            </h2>

        </div>
    </div>-->
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!-- team -->
<div id="team" class="team section">
    <div class="team-container">
        <div class="team-row">
            <!-- team grid1 -->
            <div class="col-md-5 team-grid-left">
                <!-- team individual grid -->
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-effect">
                        <img src="~/Content/images/Tan.jpg" alt="img" class="img-responsive">
                        <div class="social-icon"> 
                            <a href="https://www.facebook.com/tan.phuocnguyen.39" class="social-button facebook" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-text" style="padding: 50px 20px 0;">
                        <h4>Nguyễn Phước Tấn</h4>
                        @*<span>Vai trò: Designer/Controller</span>
                        <p>Thích code 1 mình vào ban đêm, tranh con bot với team.</p>*@

                    </div>
                </div>
                <!-- //team individual grid -->
                <!-- team individual grid -->
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-text" style="padding: 50px 20px 0;">
                        <h4>Nguyễn Trọng Nghĩa</h4>
                        <!--<span>Vai Trò: Designer</span>
                        <p>-->@*Yêu màu vàng và thích sự <br />giả dối.*@<!--</p>-->
                    </div>
                    <div class="team-effect">
                        <img src="~/Content/images/nghia.jpg" alt="img" class="img-responsive">
                        <div class="social-icon">
                            <a href="https://www.facebook.com/profile.php?id=100024989113619" class="social-button facebook" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <!-- //team individual grid -->
                </div>
            </div>
            <!-- //team-grid1 ends here-->
            <!--team-grid2 -->
            <div class="col-md-2 col-sm-2 team-mid-txt text-center">
                @*<span>our</span>
                    <h5>t</h5>
                    <h5>e</h5>
                    <h5>a</h5>
                    <h5>m</h5>*@

                <span>vỀ </span>
                <span style="color:black;font-weight:bold"> CHÚNG</span>
                <span style="color:black;font-weight:bold"> TÔI</span>
            </div>
            <!--//team-grid2 ends here-->
            <!-- team grid3 -->
            <!-- team individual grid -->
            <div class="col-md-5 team-grid-right">
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-text" style="padding: 50px 20px 0;">
                        <h4>Phan Quốc Sĩ</h4>
                        <!--<span>Vai trò: Controller/Model</span>
                        <p>-->@*Trùm Query, thích uống HighLand và The Coffee House.*@<!--</p>-->
                    </div>
                    <div class="team-effect">
                        <img src="~/Content/images/Si.jpg" alt="img" class="img-responsive">
                        <div class="social-icon">
                            <a href="https://www.facebook.com/sipagu1402/" class="social-button facebook" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- //team individual grid -->
                <!-- team individual grid -->
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-effect">
                        <img src="~/Content/images/Nguyen.jpg" alt="img" class="img-responsive">
                        <div class="social-icon">
                            <a href="https://www.facebook.com/vua.tuthan.3" class="social-button facebook" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-text" style="padding: 50px 20px 0;">
                        <h4>Trần Hoàng Khoa Nguyên</h4>
                        <!--<span>Vai trò: Viết Báo Cáo</span>
                        <p>-->
                            @*Yêu màu đen, Thích cô đơn, Ngại tiếp xúc con gái, Thích Cái đẹp, Ghét tình yêu, Đam mê siêu xe.*@
                        <!--</p>-->
                    </div>
                </div>
                <!-- //team individual grid -->
                <div class="clearfix"> </div>
            </div>
            <!-- //team grid3 -->
            <div class="clearfix"> </div>
        </div>
        <!-- //team-row ends here -->
    </div>
    <!-- // team container ends here -->
</div>
<!-- //team -->
<!--testimonials -->
<div class="reviews section" id="testimonials">
    <div class="container">
        <h4 class="rad-txt">
            <span class="abtxt1">Đánh Giá</span>
            <span class="abtext">Cửa Hàng</span>
        </h4>
        <div id="Carousel" class="slide carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Adidas Cổ Cao</h6>
                                    <p>Đi rất êm chân, giao hàng khá nhanh.</p>
                                    <h5>tie****</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3  img-testi">
                                    <img class="img-responsive" src="~/Content/images/avatar5.jpg" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/Content/images/avatar6.jpg" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Adidas Cổ Cao</h6>
                                    <p>giao hàng nhanh, đóng gói đẹp, size có hơi nhỏ.</p>
                                    <h5>minhle53</h5>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Sandan Trắng</h6>
                                    <p>5 sao.</p>
                                    <h5>minola</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/Content/images/avatar7.jpg" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/Content/images/avatar8.jpg" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Sandan Đen</h6>
                                    <p>Shop giao hàng chắc chắn và đẹp.</p>
                                    <h5>trucly22</h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!--.item-->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Nike Trắng</h6>
                                    <p>Màu hơi đục, không như mong đợi.</p>
                                    <h5>Vô danh</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/Content/images/avatar1.jpg" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6 testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/Content/images/avatar2.jpg" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Nike Cam</h6>
                                    <p>Giày đẹp lắm, nhưng mang hơi nóng.</p>
                                    <h5>longhoang221</h5>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Nike Đỏ</h6>
                                    <p>Giao hàng chậm!!!</p>
                                    <h5>Linhb</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/Content/images/avatar3.jpg" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/Content/images/avatar4.jpg" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Puma Cổ Thấp</h6>
                                    <p>Màu sáng, tươi, nhìn rất năng động.</p>
                                    <h5>Cindy</h5>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <!--.row-->
                </div>
            </div>
            <!--.carousel-inner-->
            <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
        </div>
        <!--.Carousel-->
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //testimonials-->