﻿
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    .announcement{
        margin: 3px;
        font-size: 25px;
        font: bold;
    }
    .send-error{
        color: red;
    }
    .send-success{
        color: green;
    }
</style>
<!-- banner -->
<div class="banner-bg-inner">
</div>
<!-- //banner -->
<!-- contact -->
<div class="section contact" id="contact">
    <div class="container">
        <h4 class="rad-txt text-center">
            <span class="abtxt1">Liên Hệ</span>
            <span class="abtext">Chúng Tôi</span>
        </h4>
        <div class="contact-form" style="display:flex; flex-wrap:wrap;">
            <div class="col-md-7 col-sm-12">
                <!-- contact form grid -->
                <div class="contact-top1" style="height:100%">
                    <h5>Đóng Góp Ý Kiến</h5>
                    @using (Html.BeginForm("SendComment", "Home"))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form class="form_w3layouts" method="post" action="#">
                            <input type="text" name="firstName" placeholder="Họ" required oninvalid="this.setCustomValidity('Điền họ của bạn')" oninput="this.setCustomValidity('')">
                            <input type="text" name="lastName" placeholder="Tên" required oninvalid="this.setCustomValidity('Điền tên của bạn')" oninput="this.setCustomValidity('')">
                            <input class="email" name="email" type="email" placeholder="Email" required oninvalid="this.setCustomValidity('Điền email')" oninput="this.setCustomValidity('')">
                            <textarea placeholder="Chi Tiết Ý Kiến" name="comment" required oninvalid="this.setCustomValidity('Hãy cho chúng tôi biết ý kiến của bạn')" oninput="this.setCustomValidity('')"></textarea>
                            <input type="submit" value="Gửi">
                        </form>
                    }
                    <div class="announcement send-error">@ViewBag.Error</div>
                    <div class="announcement send-success">@ViewBag.Success</div>
                </div>
                <!--  //contact form grid ends here -->
            </div>
            <!-- contact map grid -->
            <div class="col-md-5 col-sm-12 map contact-right">
                <div class="contact-top1" style="height:100%">
                    <h5>Trụ Sở Chính</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.566836567525!2d106.63698451517851!3d10.844423450872196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529842d98f4b1%3A0xc93f458c289b4f77!2sBSP%20Software%20Services%20Corp!5e0!3m2!1svi!2s!4v1624735271832!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <!--//contact map grid ends here-->
            <div class="clearfix"></div>
        </div>
        <!-- contact details -->
        <div class="contact-bottom">
            <h6>Thông Tin Liên Hệ</h6>
            <!-- contact details left -->
            <div class="col-md-6 col-sm-6">
                <div class="contact-left">
                    <div class="address">
                        <h5>Địa Chỉ:</h5>
                        <p>
                            965/82 Quang Trung, phường 14, quận Gò Vấp, thành phố Hồ Chí Minh, Việt Nam
                        </p>
                    </div>
                    <div class="address address-mdl">
                        <h5>Số Điện Thoại:</h5>
                        <p>
                            - 0846 412 344
                        </p>
                        <p>
                            - 0926 412 222
                        </p>
                    </div>
                </div>
            </div>
            <!-- //contact details left -->
            <!-- contact details right -->
            <div class="col-md-6 col-sm-6">
                <div class="contact-right">
                    <div class="address">
                        <h5>Email:</h5>
                        <p>
                            <a href="mailto:inazumaqiqi@gmail.com">inazumaqiqi@gmail.com</a>
                        </p>
                        <p>
                            <a href="mailto:tannguyenvnkg@gmail.com">tannguyenvnkg@gmail.com</a>
                        </p>
                    </div>
                    <div class="footer-social address  address-mdl">
                        <h5>Kết Nối Với Chúng Tôi</h5>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTea-Cup-Shoes-Stroe-101873898839750%2F&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=283407380238885" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //contact-details right -->
            <div class="clearfix"></div>
        </div>
        <!-- //contact details ends here -->
    </div>
</div>
<!-- //contact -->