﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- banner -->
<div class="banner-bg-agileits">
</div>
<!-- //banner -->
<!-- about -->
<div class="about-sec section" id="about">
    <div class="container">
        <!-- about-left-grid -->
        <div class="col-md-7 about-left-grid">
            <div class="inner-about2">
                <h4>MỚI NHẤT</h4>
                <p>Thời trang năng động, trẻ trung với nhiều thể loại </p>
                <h5>Chúng tôi có gì?</h5>
                <ul class="about-list">
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Các thể loại giày từ nhiều nước trên thế giới
                    </li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Size Giày đa dạng
                    </li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Phụ Kiện Tất
                    </li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Phụ Kiện Giày
                    </li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Phụ Kiện Nón
                    </li>

                    @*<li>
                            <i class="fa fa-play-circle-o" aria-hidden="true"></i>Bản Đồ
                        </li>
                        <li>
                            <i class="fa fa-play-circle-o" aria-hidden="true"></i>Tạp chí
                        </li>*@

                </ul>
                <a href="@Url.Action("ListProduct","Product")">Xem Thêm</a>
            </div>
            <!-- about left bottom - services -->
            <div class="principles-grids principles-grids1">
                <div class="abt-btm agileits w3layouts aos-init aos-animate">
                    <div class="col-md-6 col-sm-6 agileits elite-services1 w3layouts bottom-gds" data-aos="fade-up">
                        <div class="bott-img agileits w3layouts">
                            <div class="icon-holder agileits w3layouts">
                                <span class="fa fa-chevron-circle-right agileits w3layouts service-icon" aria-hidden="true"></span>
                            </div>
                            <h4 class="mission agileits w3layouts">ADIDAS</h4>
                            <div class="description agileits w3layouts">
                                <a href="@Url.Action("ProductWithTrademark","Product",new { id = 3})">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                        <div class="bott-img bott-img1 agileits w3layouts">
                            <div class="icon-holder agileits w3layouts">
                                <span class="fa fa-chevron-circle-right agileits w3layouts service-icon" aria-hidden="true"></span>
                            </div>
                            <h4 class="mission agileits w3layouts">BITI'S</h4>
                            <div class="description agileits w3layouts">
                                <a href="@Url.Action("ProductWithTrademark","Product",new { id = 2})">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 agileits elite-services1 w3layouts bottom-gds" data-aos="fade-up">
                        <div class="bott-img agileits w3layouts">
                            <div class="icon-holder agileits w3layouts">
                                <span class="fa fa-chevron-circle-right agileits w3layouts service-icon" aria-hidden="true"></span>
                            </div>
                            <h4 class="mission agileits w3layouts">PUMA</h4>
                            <div class="description agileits w3layouts">
                                <a href="@Url.Action("ProductWithTrademark","Product",new { id = 4})">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                        <div class="bott-img bott-img1 agileits w3layouts">
                            <div class="icon-holder agileits w3layouts">
                                <span class="fa fa-chevron-circle-right agileits w3layouts service-icon" aria-hidden="true"></span>
                            </div>
                            <h4 class="mission agileits w3layouts">NIKE</h4>
                            <div class="description agileits w3layouts">
                                <a href="@Url.Action("ProductWithTrademark","Product",new { id = 1})">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //about left bottom - services ends here -->
        </div>
        <!-- //about-left-grid ends here-->
        <!-- about-right-grid -->
        <div class="col-md-5 about-right-grid"></div>
        <!-- //about-right-grid ends here -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- //about ends here -->
<!-- about bottom -->
<div class="about-bottom section">
    <div class="container">
        <h4 class="rad-txt">
            <span class="abtxt1">Nhãn Hiệu</span>
            <span class="abtext">Nổi Tiếng</span>
        </h4>
        <!-- about-bottom grid1 -->
        <div class="col-md-5 about-bottom-right">
            <p class="abt-p">
                @*<p style="text-align:right;">– Henry David Thoreau</p>*@
            </p>
            <div class="col-md-12 col-sm-12 col-xs-12 services-w3ls">
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon" style="padding:2px">
                        <span aria-hidden="true"><img src="~/Content/images/icon5.png" /></span>
                        @*<span class="fa fa-book" aria-hidden="true"></span>*@
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>Nike</h5>
                        <p>"Just Do It"</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon" style="padding-left:0px">
                        <span aria-hidden="true"><img src="~/Content/images/icon4.png" /></span>
                        @*<span class="fa fa-book" aria-hidden="true"></span>*@
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>Biti's</h5>
                        <p>"Nâng niu bàn chân Việt"</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon" style="padding-left:0px">
                        <span aria-hidden="true"><img src="~/Content/images/icon3.png" /></span>
                        @*<span class="fa fa-book" aria-hidden="true"></span>*@
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>Puma</h5>
                        <p>"Forever Faster"</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon" style="padding-left:0px">
                        <span aria-hidden="true"><img src="~/Content/images/icon6.png" /></span>
                        @*<span class="fa fa-book" aria-hidden="true"></span>*@
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>Adidas</h5>
                        <p>"Impossible Is Nothing"</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <!-- //about-bottom grid1 ends here -->
        <div class="col-md-7 home-about2">
            <!-- about-bottom grid2 -->
            <div class="col-md-6 col-sm-6 col-xs-6 bg-right"></div>
            <!-- //about-bottom grid2 ends here -->
            <!-- about-bottom grid3 -->
            <div class="col-md-6 col-sm-6 col-xs-6 w3ls-section  stats">
                <div class="stats-aboutinfo services-main">
                    <div class="agileits_w3layouts-stats-grids text-center" style="display:flex">
                        <div class="stats-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>Sản Phẩm</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='221073' data-delay='.5' data-increment="300">221073</div>

                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="agileits_w3layouts-stats-grids text-center" style="display:flex">
                        <div class="stats-icon">
                            <span class="fa fa-university" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>Chi Nhánh</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='780' data-delay='.5' data-increment="50">980</div>

                        </div>
                        <div class="clearfix"></div>


                    </div>
                    <div class="agileits_w3layouts-stats-grids text-center" style="display:flex">
                        <div class="stats-icon">
                            <span class="fa fa-laptop" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>Tài Khoản Đăng Ký</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9800' data-delay='.5' data-increment="50">9800</div>

                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="agileits_w3layouts-stats-grids text-center" style="display:flex">
                        <div class="stats-icon">
                            <span class="fa fa-users" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>Lượt <br />Truy Cập</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='123623' data-delay='.5' data-increment="300">123623</div>

                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- //about-bottom grid3 ends here -->
        <!-- //Numscroller -->
        <div class="clearfix"></div>
    </div>
    <!-- //about container ends here-->

</div>

<!--//about bottom ends here-->
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "101873898839750");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v11.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>