﻿@model IEnumerable<ShoesStoreWebsiteProject.Models.LOAIGIAY>

<h4 class="lead" style="color:#FFD369;">Loại Giày</h4>
<div class="list-group">
    @foreach (var item in Model)
    {
        if ((bool)item.Trangthai)
        {
            <a href="@Url.Action("ProductWithShoesType","Product", new { id = item.Maloai})" class="list-group-item">@item.Tenloaigiay</a>
        }
    }
</div>
