﻿@model IEnumerable<ShoesStoreWebsiteProject.Models.NHACUNGCAP>

<h4 class="lead" style="color:#FFD369;">Thương hiệu</h4>
<div class="list-group">
    @foreach (var item in Model)
    {
        if ((bool)item.Trangthai)
        {
            <a href="@Url.Action("ProductWithTrademark","Product", new { id = item.MaNCC})" class="list-group-item">@item.TenNCC</a>
        }
    }
</div>


