﻿@using ShoesStoreWebsiteProject.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM> 
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- banner -->
<div class="banner-bg-inner">
</div>
<!-- //banner -->
<!-- Shop -->
<div class="innerf-pages section">
    <div class="container-cart">
        <!-- product left -->
        <div class="side-bar col-md-3">
            <div id="side-bar-item">
                @Html.Action("_ProductWithTrademark", "Product")
            </div>
            <div id="side-bar-item">
                @Html.Action("_ProductWithShoesType", "Product")
            </div>
        </div>
        <!-- //product left -->
        <!-- product right -->
        <div class="left-ads-display col-md-9">
            <div class="wrapper_top_shop">
                <!-- product-sec1 -->
                <div class="product-sec1">
                    <!-- row1-->
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="@Url.Action("ProductDetail", "Product", new { id = item.Magiay, url = Request.Url.ToString() })">
                                        <img src="~/Content/ProductImages/@item.Anhbia" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>@item.Tengiay</h4>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star @*gray-star*@" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        @if (item.tinhTrangSanPham)
                                        {
                                            <ul class="price-list">
                                                <li>@item.Giaban VND</li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="price-list">
                                                <li style="color:red">Hết Hàng</li>
                                            </ul>
                                        }
                                        <div class="clearfix"> </div>
                                    </div>
                                    <a href="@Url.Action("ProductDetail", "Product", new { id = item.Magiay, url = Request.Url.ToString() })" class="btn btn-danger" style="width:100%; margin-top: 2px">
                                        Mua
                                        <i class="fa fa-cart-plus giohang" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- //row3 -->
                    <div class="clearfix"></div>

                </div>

                <!-- //product-sec1 -->
                <div class="clearfix"></div>
            </div>
            <div class="MenuPage">
                @*Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount*@
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("ListProduct", new { page = page }))
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    
</div>
<!--// Shop -->
