﻿@model ShoesStoreWebsiteProject.Models.SANPHAM
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var item = Model;
}
@{

}

<!-- banner -->
<div class="banner-bg-inner">
</div>
<!-- //banner -->
<!-- Single -->
<div class="innerf-pages section">
    <div class="container">
        <div class="product">
            <div class="col-md-6 single-right-left ">
                <img src="~/Content/ProductImages/@item.Anhbia"/>
            </div>
            <div class="col-md-6 single-right-left simpleCart_shelfItem">
                <h3>
                    @item.Tengiay
                </h3>
                <p>
                    Hãng
                    <a href="@Url.Action("ProductWithTrademark", "Product", new { id = item.maNhaCungCap })">@item.tenNhaCungCap</a>
                </p>
                <div class="caption">

                    <ul class="rating-single">
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                    <h6>
                        @String.Format("{0:##,#}", item.Giaban) VNĐ
                    </h6>
                </div>
                @*<div class="desc_single">
                        <h5>Description</h5>
                        <p>
                            Pellentesque quis orci sapien. Phasellus at libero in nunc egestas tincidunt. In dictum arcu purus, ultricies tincidunt
                            urna vehicula at. Aenean iaculis urna nec libero scelerisque, ac ullamcorper neque porta.
                        </p>
                    </div>*@
                @if (!Model.tinhTrangSanPham)
                {
                    <h4>HẾT HÀNG</h4>
                    <div class="chr single-item single_page_b">
                        @if (!String.IsNullOrEmpty(item.urlBack))
                        {
                            <a href="@item.urlBack" class="btn btn-danger addcart" id="AddCart">Trở Lại</a>
                        }
                        else
                        {
                            <a href="@Url.Action("ListProduct","Product")" class="btn btn-danger addcart" id="AddCart">Trở Lại</a>
                        }
                    </div>
                }
                else
                {
                    using (Html.BeginForm("AddCart", "Cart", new { @iShoesID = @item.Magiay, @strURL = Request.Url.ToString() }, FormMethod.Post))
                    {
                        <form>
                            <div class="occasion-cart desc_single">
                                <h5>Chọn Size</h5>
                                <div class="size" id="custom-radio">
                                    @{
                                        for (int i = 0; i < item.maSize.Count(); i++)
                                        {
                                            if (item.soluongton[item.maSize[i] - 1] != null && item.soluongton[item.maSize[i] - 1] > 0)
                                            {
                                                <label id="custom-label">
                                                    <input id="rdb" type="radio" name="maSize" value="@item.maSize[i]">
                                                    <span>@item.sizeGiay[item.maSize[i] - 1]</span>
                                                </label>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="occasion-cart desc_single">
                                <div class="chr single-item single_page_b">
                                    <input class="btn btn-danger addcart" id="AddCart" type="submit" value="Thêm Vào Giỏ hàng">
                                    @if (!String.IsNullOrEmpty(item.urlBack))
                                    {
                                        <a href="@item.urlBack" class="btn btn-danger addcart" id="AddCart">Trở Lại</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ListProduct","Product")" class="btn btn-danger addcart" id="AddCart">Trở Lại</a>
                                    }

                                </div>
                                <h3 style="color:red">@ViewBag.ChooseSize</h3>
                            </div>
                        </form>
                    }
                }
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo({ top: 440, behavior: 'smooth' });
        }
    </script>
</div>


