﻿@model ShoesStoreWebsiteProject.Models.KHACHHANG
@using ShoesStoreWebsiteProject.Models;
@{
    KHACHHANG kh = (KHACHHANG)Session["User"];
    var item = kh;
    if (kh.HoTen == null)
    { item.Name = kh.Taikhoan; }
    else { item.Name = kh.HoTen; }
}

<a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">
    @item.Name
    <b class="caret"></b>
</a>



<!--gán tên tài khoản hoặc tên người dùng đăng nhập-->