﻿@model ShoesStoreWebsiteProject.Models.KHACHHANG

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var item = Model;
}

<div class="banner-bg-inner">
</div>

<div class="myProfile" @*style="width:100%;display:flex; justify-content:center"*@>
    @using (Html.BeginForm(new { strURL = Request.Url.ToString() }))
    {
        Html.AntiForgeryToken();
        <form>
            <div class="profile">
                <h3>THAY ĐỔI MẬT KHẨU</h3>
                <div class="form-group">
                    <label for="oldPassword">Mật khẩu cũ</label>
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Mật khẩu cũ" />
                </div>
                <div class="form-group">
                    <label for="newPassword">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Mật khẩu mới">
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Nhập lại mật khẩu mới">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="save-btn"><i class="fa fa-save"></i>Lưu</button>
                </div>
                <h3 id="Error">@ViewData["Error"]</h3>
                <h3 id="Success">@ViewData["Success"]</h3>
            </div>
        </form>
    }
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo({ top: 290, behavior: 'smooth' });
}
</script>
</div>
