body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

/*-- / --*/

/*-- checkout --*/

.checkout h2 {
	font-size: 1em;
	color: #212121;
	text-transform: uppercase;
	margin: 0 0 3em;
}

.checkout h2 span {
	color: #3399cc;
}

table.timetable_sub {
	width: 100%;
	margin: 0 auto;
}

.timetable_sub thead {
	background: #004284;
}

.timetable_sub th {
	background: #212121;
	color: #fff !important;
	text-transform: capitalize;
	font-size: 13px;
	border-right: 1px solid #ded2d2;
}

.timetable_sub th,
.timetable_sub td {
	text-align: center;
	padding: 7px;
	font-size: 14px;
	color: #212121;
}

.timetable_sub td {
	border: 1px solid #CDCDCD;
}

td.invert-image a img {
	width: 50%;
	margin: 0 auto;
}

.rem {
	position: relative;
}

.close1,
.close2,
.close3 {
	background: url('images/close_1.jpg') no-repeat 0px 0px;
	cursor: pointer;
	width: 41px;
	height: 39px;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(0,50%);
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.close4 {
	background: url('images/close_1.jpg') no-repeat 0px 0px;
	cursor: pointer;
	width: 41px;
	height: 39px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

/*-- quantity-starts --*/

.value-minus,
.value-plus {
	height: 40px;
	line-height: 24px;
	width: 40px;
	margin-right: 3px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	font-size: 18px;
	color: #fff;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	border: 1px solid #b2b2b2;
	vertical-align: bottom;
}

.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before {
	content: "";
	width: 13px;
	height: 2px;
	background: #000;
	left: 50%;
	margin-left: -7px;
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
}

.quantity-select .entry.value-plus:after {
	content: "";
	height: 13px;
	width: 2px;
	background: #000;
	left: 50%;
	margin-left: -1.4px;
	top: 50%;
	margin-top: -6.2px;
	position: absolute;
}

.value {
	cursor: default;
	width: 40px;
	height: 40px;
	padding: 8px 0px;
	color: /*#A9A9A9;*/ black;
	line-height: 24px;
	border: 1px solid #E5E5E5;
	background-color: /*#E5E5E5;*/ white;
	text-align: center;
	display: inline-block;
	margin-right: 3px;
}

.quantity-select .entry.value-minus:hover,
.quantity-select .entry.value-plus:hover {
	background: #E5E5E5;
}

.quantity-select .entry.value-minus {
	margin-left: 0;
}

/*-- quantity-end --*/

.checkout-right h4,
.address_form h4 {
	font-size: 1.5em;
	margin: 0 0 1em 0;
	letter-spacing: 1px;
	color: #e85342;
}

.checkout-left-basket h4 {
	padding: 1em;
	background: #eee;
	font-size: 1em;
	color: #000;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 2em;
}

.checkout-left {
	margin: 2em 0 0;
}

.checkout-left-basket ul li {
	list-style-type: none;
	margin-bottom: 1em;
	font-size: 14px;
	color: #999;
}

.checkout-left-basket {
	float: right;
	padding-left: 0;
}

.checkout-right-basket {
	float: left;
	margin: 3em 0em 0em;
}

.checkout-left-basket ul li span {
	float: right;
}

.checkout-left-basket ul li:last-child {
	font-size: 1em;
	color: #212121;
	font-weight: 600;
	padding: 1em 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin: 2em 0 0;
}

.checkout-right-basket a {
	padding: 10px 20px;
	color: #fff;
	font-size: 1em;
	background: #212121;
	text-decoration: none;
	letter-spacing: 2px;
}

.checkout-right-basket a:hover {
	background: #fb383b;
}

.checkout-right-basket a span {
	left: -.5em;
	top: 0.1em;
}

.checkout {
	padding: 5em 0;
}

.address_form {
	float: left;
}

.information-wrapper input {
	width: 100% !important;
}

.check_box_one.cashon_delivery {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

/*-- checkbox --*/

.fcheck-login label {
	font-size: 1em;
	color: #000;
	letter-spacing: 0.5px;
	font-weight: 400;
	cursor: pointer;
	position: relative;
}

input.checkbox {
	background: #212121;
	cursor: pointer;
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: text-bottom;
}

input.checkbox:before {
	content: "";
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	background: inherit;
	cursor: pointer;
}

input.checkbox:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	width: 1.2em;
	height: 1.2em;
	border: 1px solid #fff;
	transition: .4s ease-in-out;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	-ms-transition: .4s ease-in-out;
}

input.checkbox:checked:after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	height: 1.2em;
	border-color: #fff;
	border-top-color: transparent;
	border-right-color: transparent;
}

.anim input.checkbox:checked:after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	height: .6em;
	border-color: transparent;
	border-right-color: transparent;
	animation: .4s rippling .4s ease;
	animation-fill-mode: forwards;
}

@keyframes rippling {
	50% {
		border-left-color: #fff;
	}
	100% {
		border-bottom-color: #fff;
		border-left-color: #fff;
	}
}

.vertical_post.check_box_fpay {
	padding-bottom: 1em;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	margin-left: -29px;
}

/*-- //checkout --*/

.check_tab2 input[type="email"],
.check_tab2 input[type="password"],
.creditly-wrapper .form-control {
	display: block;
	width: 95.5%;
	padding: 15px 10px;
	font-size: 14px;
	color: #212121;
	background: #fff;
	border: 1px solid #e7e7e7;
	margin-bottom: 25px;
	outline: none;
}

/*-- // --*/

.pay_info {
	padding: 3em 2em;
}

/*--/payment--*/

/*-- Pay-page --*/

.pay_info input[type="email"],
.pay_info input[type="password"],
.creditly-wrapper .form-control {
	display: block;
	width: 95.5%;
	padding: 8px 10px;
	height: auto;
	font-size: 14px;
	color: #212121;
	background: #eee;
	border: 1px solid #e7e7e7;
	margin-bottom: 25px;
	outline: none;
}

.pay_info input[type="email"]:focus,
.pay_info input[type="password"]:focus,
.creditly-wrapper .form-control:focus {
	border-color: #66afe9;
	outline: 0;
}

.pay_info input[type="submit"] {
	display: block;
	position: relative;
	outline: none;
	padding: 10px 19px;
	background: #e85342;
	font-size: 1.1em;
	font-weight: 400;
	color: #fff;
	border: none;
	text-transform: capitalize;
	letter-spacing: 1px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.pay_info input[type="submit"]:hover {
	background: #34c663;
}

.checkf_main_grid_left_grid h3 {
	font-size: 1.3em;
	color: #fff;
}

.checkf_main_grid_left_grid ul {
	margin-top: 1.5em;
}

.checkf_main_grid_left_grid ul li {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
	vertical-align: top;
}

.checkf_main_grid_left_grid ul li span {
	display: block;
	font-size: .5em;
	color: #999;
}

.checkf_main_grid_left_grid ul li:first-child {
	width: 70%;
	border-right: 1px solid #999;
}

.checkf_main_grid_left_grid ul li:last-child {
	padding-left: 1em;
	text-align: right;
}

.check_f_amount {
	padding: 1em 2em;
	background: #f71926;
}

.check_f_amount h3 {
	font-size: 1.3em;
	color: #fff;
}

.check_f_amount h4 {
	font-size: 2em;
	color: #fff;
	font-weight: bold;
}

.check_f_amount p {
	font-size: 1em;
	color: #1adeed;
	line-height: 1.8em;
}

img.pp-img {
	width: 65%;
}

.tab-grid p {
	color: #8B8B8B;
	font-size: 0.95em;
	line-height: 1.8em;
	font-weight: 400;
	margin: 10px 0;
}

a.btn.btn-primary {
	background-color: #3a5795;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	border: none;
}
.vertical_post h5 {
    color: #000;
    font-size: 17px;
    margin: 0 0 18px 0;
    background: #eee;
    width: 30%;
    padding: 10px 10px;
	letter-spacing: 0.5px;
	text-transform:capitalize;
    display: inline-block;
}

.swit-radio label {
	font-size: 16px;
	color: #696969;
	font-weight: 400;
	cursor: pointer;
}

.radio_one:first-child {
	margin-left: 0;
	margin: 0;
}

.radio_one {
	padding-left: 0;
	line-height: 28px;
	color: #404040;
	cursor: pointer;
}

.radio_one {
	position: relative;
	display: inline-block;
	margin-left: 15px;
}

.section_room_pay select {
	padding: 6px 10px;
	width: 33%;
	border: none;
	background: none;
	border: 1px solid #E6E4E4;
	color: #777;
	outline: none;
	font-size: 16px;
	margin-bottom: 0;
	background: #fff;
	background-size: 4% !important;
	-webkit-appearance: none;
}

select.form-control.option-fieldf {
	width: 100%;
	padding: 8px 10px;
	font-size: 0.8em;
	margin: 0.5em 0;
	outline: none;
	color: #212121;
	border: none;
	border: 1px solid #ccc;
	letter-spacing: 1px;
	text-align: left;
}

.checkout-right-basket span {
	margin-left: 1em;
}

.check_box_one {
	float: left;
	width: 22%;
	margin-bottom: 10px;
}

.form-control {
	border-radius: 0;
}

.btn-primary {
	color: #fff;
	background-color: #84c639;
	border-color: #84c639;
	border-radius: 0;
}

button.submit.check_out, a.submit.check_out {
	outline: none;
	padding: 10px 28px;
	background: #34c663;
	font-size: 1.1em;
	border-radius: 7px;
	font-weight: 400;
	color: #fff;
	border: none;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-top: 1em;
}

	button.submit.check_out:hover, a.submit.check_out:hover {
		background: #e85342;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		-ms-transition: 0.5s all;
	}

.section_room_pay {
	margin-bottom: 2em;
}

/*-- //Pay-page --*/

@media(max-width:991px) {
	.close1,
	.close2,
	.close3 {
		right: 8px;
	}
	.tab-grid {
		margin-bottom: 2em;
	}
	.check_box_one {
		float: none;
		width: auto;
		margin-bottom: 12px;
	}
	.value-minus,
	.value-plus {
		height: 38px;
		width: 35px;
	}
	.checkout-left-basket,
	.address_form {
		float: none;
	}
	.address_form {
		margin-top: 3em;
	}
	.vertical_post h5 {
		width: 40%;
	}
}

@media(max-width:800px) {
	.checkout-left-basket {
		float: none;
		padding: 0px;
	}
	.address_form {
		float: none;
		margin-top: 3em;
	}
	.checkout-right-basket {
		margin: 2em 0em 0;
	}
}

@media(max-width:768px) {
	button.submit.check_out {
		padding: 9.5px 20px;
		font-size: 1em;
		letter-spacing: 2px;
	}
	.pay_info input[type="submit"] {
		padding: 9.5px 20px;
		letter-spacing: 2px;
	}
	.pay_info input[type="submit"] {
		font-size: 1em;
	}
}

@media(max-width:736px) {
	.value-minus,
	.value-plus {
		height: 37px;
		width: 30px;
	}
	td.invert-image {
		width: 32%;
	}
	.vertical_post h5 {
		width: 43%;
		font-size: 16px;
	}
}

@media(max-width:667px) {
	td.invert-image {
		width: 27%;
	}
	.value {
		width: 35px;
	}
}
@media(max-width:640px) {
	td.invert-image a img {
		width: 50%;
	}
	td.invert-image {
		width: 25%;
	}
	.vertical_post h5 {
		width: 47%;
	}
}
@media(max-width:600px) {
	.checkout-right h4, .address_form h4 {
		font-size: 1.4em;
	}
	td.invert-image {
		width: 36%;
	}
	.vertical_post h5 {
		width: 51%;
	}
}


@media(max-width:568px) {
	td.invert-image a img {
		width: 60%;
	}

}
@media(max-width:480px) {

	.vertical_post h5 {
		width: 80%;
	}
}

@media(max-width:414px) {
	td.invert-image a img {
		width: 100%;
	}
	.checkout-right{
		overflow-x:scroll;
	}
	.checkout-right h4, .address_form h4 {
		font-size: 1.3em;
		letter-spacing: 0;
	}
}

@media(max-width:384px) {
	.check_box_one.cashon_delivery {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.checkout-right h4, .address_form h4 {
		font-size: 1.2em;
	}
}

@media(max-width:375px) {

}
@media(max-width:320px) {
	.checkout-right h4, .address_form h4 {
		font-size: 1em;
	}
	.vertical_post h5 {
		width: 98%;
	}
}