﻿@using ShoesStoreWebsiteProject.Models;
@model List<Cart>


@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var totalBill = 0.0;
}

<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    @*<div class="banner-text-inner">
            <div class="container">
                <h2 class="title-inner">
                    world of reading
                </h2>

            </div>
        </div>*@
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!--checkout-->
<div class="innerf-pages section">
    <div class="container">
        <div class="privacy about">
            <h4 class="rad-txt">
                <span class="abtxt1">Giỏ Hàng</span>
                <span class="abtext">Của Tôi</span>
            </h4>

            <div class="checkout-right">

                <table class="timetable_sub table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="100">Mã Giày</th>
                            <th width="200">Hình Ảnh</th>
                            <th width="150">Tên Sản Phẩm</th>
                            <th width="160">Số Lượng</th>
                            <th width="80">Size Giày</th>
                            <th width="100">Đơn Giá</th>
                            <th width="100">Tổng Tiền</th>
                            <th width="50">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="rem1">
                                <td class="invert">@item.iShoesID</td>
                                <td class="invert-image">
                                    <a href="@Url.Action("ProductDetail","Product", new { id = item.iShoesID})">
                                        <img src="~/Content/ProductImages/@item.sImageCover" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">@item.sShoesName</td>
                                @using (Html.BeginForm("UpdateItemInCart", "Cart", new { @iShoesID = item.iShoesID, iSizeID = item.iSizeID }))
                                {
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <input type="number" name="amount" class="entry value" value="@item.iAmount" min="1" max="@item.imaxAmount">
                                                <input type="submit" value="Cập Nhật" class="btn btn-success">
                                            </div>
                                        </div>
                                    </td>
                                }
                                <td class="invert">@item.iShoesSize</td>
                                <td class="invert">@String.Format("{0:##,#}", item.dCost) VNĐ</td>
                                <td class="invert">@String.Format("{0:##,#}", item.dTotalMoney) VNĐ</td>
                                <td class="invert" style="position:relative">
                                    <div class="">
                                        <a href="@Url.Action("RemoveItemInCart","Cart", new { iShoesID = item.iShoesID, iSizeID = item.iSizeID})" class="close4"> </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="8" id="cart-next">
                                <a href="@Url.Action("ListProduct","Product")" class="btn btn-danger">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Tiếp Tục Mua Sắm
                                </a>
                                <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Xóa Giỏ Hàng
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="checkout-left">
                <div class="col-md-6  address_form">
                    <!--<h4>Thông Tin Đơn Hàng</h4>
                    <form action="payment.html" method="post" class="creditly-card-form shopf-sear-headinfo_form">
                        <div class="creditly-wrapper wrapper">
                            <div class="information-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Họ Tên: </label>
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="Họ Tên">
                                    </div>
                                    <div class="card_number_grids">
                                        <div class="card_number_grid_left">
                                            <div class="controls">
                                                <label class="control-label">SĐT:</label>
                                                <input class="form-control" type="text" placeholder="SĐT">
                                            </div>
                                        </div>
                                        <div class="card_number_grid_right">
                                            <div class="controls">
                                                <label class="control-label">Địa Chỉ: </label>
                                                <input class="form-control" type="text" placeholder="Địa Chỉ">
                                            </div>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Tỉnh/Thành Phố: </label>
                                        <input class="form-control" type="text" placeholder="Tỉnh/Thành Phố">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Loại Giao Hàng : </label>
                                        <select class="form-control option-fieldf">
                                            <option>Văn Phòng</option>
                                            <option>Nhà Riêng</option>-->
                    @*<option>Commercial</option>*@

                    <!--</select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>-->

                </div>

                <div class="col-md-5 checkout-left-basket">
                    <h4>Hóa Đơn</h4>
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li>
                                @item.sShoesName
                                <i>- Số Lượng: @item.iAmount</i>
                                <i>- Size: @item.iShoesSize</i>
                                <span>@String.Format("{0:##,#}", item.dTotalMoney) VNĐ</span>
                            </li>
                            totalBill += item.dTotalMoney;
                        }
                        <li>
                            Tổng Tiền
                            <span>@String.Format("{0:##,#}", totalBill) VNĐ</span>
                        </li>
                    </ul>
                    <a href="@Url.Action("Pay","Cart", new { strURL = Request.Url.ToString() })" class="btn btn-danger" id="cart-btn">Thanh Toán</a>
                </div>
                <div class="clearfix"> </div>

            </div>

        </div>

    </div>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo({ top: 430, behavior:'smooth'});
        }
    </script>
</div>
<!--//checkout-->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Bạn muốn xóa giỏ hàng hiện tại?</p>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("RemoveCart","Cart")" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Xóa
                </a>
                <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>