﻿
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    @*<div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>

        </div>
    </div>*@
    <!-- //banner-text -->
</div>
<!-- //banner -->
<div class="innerf-pages section ">

    <div class="container">
        <div class="left-confirm col-md-5">
            <img id="ship-ic" src="~/Content/images/giaohang.png" />
        </div>
        <div class="right-confirm col-md-7">
            <div class="content">
                <h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận và sẽ được giao trong thời gian sớm nhất.</h2>
                <h2>Xin cảm ơn !</h2>
                <p>
                    <a href="@Url.Action("ListProduct","Product")" class="btn btn-danger">
                        <i class="fa fa-reply" @*aria-hidden="true"*@></i>
                        Trở lại
                    </a>
                    @*@Html.ActionLink("VỀ TRANG CHỦ", "ListProduct", "Product", "", new { @class = "btn btn-danger" })*@
                </p>
            </div>           
        </div>
    </div>
</div>
