﻿@using ShoesStoreWebsiteProject.Models;
@model List<DONDATHANG>

@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- banner -->
<div class="banner-bg-inner">
</div>
<!-- //banner -->
<!--Order History-->
<div class="innerf-pages section">
    <div class="container">
        <div class="privacy about">
            <h4 class="rad-txt">
                <span class="abtxt1">Lịch Sử</span>
                <span class="abtext">Đặt Hàng</span>
            </h4>

            <div class="checkout-right">

                <table class="timetable_sub table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Mã Đơn Hàng</th>
                            <th>Ngày Đặt</th>
                            <th>Tình Trạng Đơn Hàng</th>
                            <th>Tổng Tiền</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="rem1">
                                <td class="invert">@item.MaDonHang</td>
                                <td class="invert">@String.Format("{0:dd/MM/yyyy}", item.Ngaydat)</td>
                                @if ((bool)item.Tinhtranggiaohang)
                                {
                                    <td class="invert" style="color: green"><i class="fa fa-check-square-o" aria-hidden="true" style="margin-right: 5px"></i>Đã Giao hàng</td>
                                }
                                else
                                {
                                    <td class="invert" style="color: #EF4444"><i class="fa fa-truck" aria-hidden="true" style="margin-right: 5px"></i>Đang Vận Chuyển</td>
                                }
                                <td class="invert">@String.Format("{0:##,#}", item.Tongtien) VNĐ</td>
                                <td class="invert">
                                    <a href="@Url.Action("OrderDetail","Order", new { orderID = item.MaDonHang, totalBill = item.Tongtien})" class="btn btn-success">Chi Tiết Đơn Hàng</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>