﻿@using ShoesStoreWebsiteProject.Models;
@model List<OrderDetail>

@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- banner -->
<div class="banner-bg-inner">
</div>
<!-- //banner -->
<!--Order History-->
<div class="innerf-pages section">
    <div class="container">
        <div class="privacy about">
            <h4 class="rad-txt">
                <span class="abtxt1">Lịch Sử</span>
                <span class="abtext">Đặt Hàng</span>
            </h4>

            <div class="checkout-right">
                <table class="timetable_sub table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="200">Tên Giày</th>
                            <th width="300">Ảnh</th>
                            <th>Size</th>
                            <th>Số Lượng</th>
                            <th>Đơn Giá</th>
                            <th>Tổng Tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="rem1">
                                <td class="invert">@item.sShoesName</td>
                                <td class="invert-image">
                                    <a href="@Url.Action("ProductDetail","Product", new { id = item.iShoesID})">
                                        <img src="~/Content/ProductImages/@item.sImageCover" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">@item.iShoesSize</td>
                                <td class="invert">@item.iAmount</td>
                                <td class="invert">@String.Format("{0:##,#}", item.dCost) VNĐ</td>
                                <td class="invert">@String.Format("{0:##,#}", item.dTotalMoney) VNĐ</td>
                            </tr>
                        }
                        <tr>
                            <td id="totalBill" colspan="6">Tổng Cộng: @String.Format("{0:##,#}", ViewBag.TotalBill) VNĐ</td>
                        </tr>
                    </tbody>
                    
                </table>
                <div id="cart-btn">
                    <a href="@Url.Action("OrderHistory","Order", new { strURL = Request.Url.ToString()})" class="btn btn-danger">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                        Trở Lại
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
