﻿@model ShoesStoreWebsiteProject.Models.QUANLY
@using ShoesStoreWebsiteProject.Models;
@{
    var a = (QUANLY)Session["admin"];
    var item = a;
}
<div class="profile_details">
    <ul>
        <li class="dropdown profile_details_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="profile_img">
                    <span class="prfil-img"><img src="images/a.png" alt=""> </span>
                    <div class="user-name">
                        <p>@item.Hoten</p>
                        <span>Administrator</span>
                    </div>
                    <i class="fa fa-angle-down lnr"></i>
                    <i class="fa fa-angle-up lnr"></i>
                    <div class="clearfix"></div>
                </div>
            </a>
            <ul class="dropdown-menu drp-mnu">
                <li> <a href="#" class="modal-change-password-admin-login" data-toggle="modal" data-target="#change-password-admin-login" data-admin-login="@item.Taikhoan"><i class="fa fa-cog"></i>Thay đổi mật khẩu</a> </li>
                <li> <a href="@Url.Action("LogOut","Admin")"><i class="fa fa-sign-out"></i>Đăng xuất</a> </li>
            </ul>
        </li>
    </ul>
</div>
<div class="clearfix"> </div>

