﻿@model ShoesStoreWebsiteProject.Models.SANPHAM
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Danh Sách Sản Phẩm</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <div style="width:100%;display:flex; justify-content:center">
                <!-- strURL :lưu xong reload lại trang-->
                @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    Html.AntiForgeryToken();
                    <div style="width:350px">
                        <form>
                            <div class="form-group">
                                <label for="name">Tên Giày</label>
                                <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Tên Giày" />
                            </div>
                            <div class="form-group">
                                <label for="price">Giá Bán</label>
                                <input type="number" class="form-control" id="price" name="price" min="0" max="9999999999" placeholder="Giá Bán" />
                            </div>
                            @*<div class="form-group">
            <label for="imageCover">Ảnh Bìa</label>
            <input type="text" class="form-control" id="imageCover" name="imageCover" placeholder="Ảnh Bìa" />
        </div>*@
                            <div class="form-group">
                                <label for="imageCover">Ảnh Bìa</label>
                                <input type="file" class="form-control-file" id="imageCover" name="fileUpload">
                            </div>
                            <div class="form-group">
                                <label for="supplier">Nhà Cung Cấp</label>
                                <select class="form-control" id="supplier" name="supplier">
                                    @foreach (var item in Model.listnhaCungCap)
                                    {
                                        <option value="@item.MaNCC">@item.TenNCC</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="shoesType">Loại Giày</label>
                                <select class="form-control" id="shoesType" name="shoesType">
                                    @foreach (var item in Model.listloaiGiay)
                                    {
                                        <option value="@item.Maloai">@item.Tenloaigiay</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-product-hunt" aria-hidden="true"></i>Thêm Sản Phẩm</button>
                            <a href="@Url.Action("ListProduct","Admin")" class="btn btn-danger">Trở Lại</a>
                            <h3 id="Error">@ViewData["Error"]</h3>
                            <h3 id="Success">@ViewData["Success"]</h3>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>