﻿@model ShoesStoreWebsiteProject.Models.YKienKhachHang
@{
    ViewBag.Title = "CommentDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
    .warp {
        width: 50%;
    }

        .warp div {
            display: flex;
            justify-content: center;
            margin-bottom: 3px;
        }

    .center div {
        display: flex;
    }

    .div3 {
        width: 30%;
        text-align: center;
    }

    .div7 {
        width: 70%;
        text-align: center;
    }

    .div1 {
        justify-content: center;
        display: flex;
    }
</style>
<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Ý Kiến Khách Hàng</h3>
        <div class="blank-page widget-shadow scroll div1" id="style-2 div1">
            <div class="warp">
                <div>
                    <div class="div3">Mã Ý Kiến: </div>
                    <div class="div7">@Model.MaYKien</div>
                </div>
                <div>
                    <div class="div3">Họ Tên: </div>
                    <div class="div7">@Model.HoTen </div>
                </div>
                <div>
                    <div class="div3">Email: </div>
                    <div class="div7">@Model.Email</div>
                </div>
                <div>
                    <div class="div3">Ngày Gửi: </div>
                    <div class="div7">@String.Format("{0:dd/MM/yyyy}", Model.NgayGui)</div>
                </div>
                <div>
                    <div class="div3">Nội Dung: </div>
                    <div class="div7">@Model.NoiDung</div>
                </div>
                <div>
                    <div class="div3"></div>
                    <div class="div7">
                        <a href="@Model.urlBack" class="btn btn-danger">Trở Lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

