﻿@model ShoesStoreWebsiteProject.Models.NHACUNGCAP
@{
    ViewBag.Title = "EditNCC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Chỉnh Sửa Nhà Cung Cấp</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">

            <div style="width:100%;display:flex; justify-content:center">

                <!-- strURL :lưu xong reload lại trang-->
                @using (Html.BeginForm("EditNCC", "Admin", FormMethod.Post, new { id = Model.MaNCC, @enctype = "multipart/form-data" }))
                {
                    Html.AntiForgeryToken();
                    <div style="width:350px">
                        <form>
                            <div class="form-group">
                                <label for="name">Tên Nhà Cung Cấp</label>
                                <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Tên Nhà Cung Cấp"  value="@Model.TenNCC"/>
                            </div>
                            <div class="form-group">
                                <label for="address">Địa Chỉ</label>
                                <input type="text" class="form-control" id="address" name="address" aria-describedby="emailHelp" placeholder="Địa Chỉ" value="@Model.Diachi"/>
                            </div>
                            <div class="form-group">
                                <label for="phone">Điện Thoại</label>
                                <input type="tel" class="form-control" id="phone" name="phone" aria-describedby="emailHelp" placeholder="Điện thoại" value="@Model.DienThoai" />
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-product-hunt" aria-hidden="true"></i>Lưu</button>
                            <a href="@Url.Action("ListNCC","Admin")" class="btn btn-danger">Trở Lại</a>
                            <h3 id="Error">@ViewData["Error"]</h3>
                            <h3 id="Success">@ViewData["Success"]</h3>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
