﻿@model ShoesStoreWebsiteProject.Models.SANPHAM
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Chỉnh Sửa Sản Phẩm</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            
            <div style="width:100%;display:flex; justify-content:center">

                <!-- strURL :lưu xong reload lại trang-->
                @using (Html.BeginForm("EditProduct", "Admin", FormMethod.Post, new { id = Model.Magiay, @enctype = "multipart/form-data" }))
                {
                    Html.AntiForgeryToken();
                <div style="width:350px">
                    <div style="margin-bottom: 10px">
                        <a href="@Url.Action("EditProduct","Admin", new { id = Model.Magiay, url = Model.urlBack })">Chỉnh Sửa Thông Tin</a> |
                        <a href="@Url.Action("UpdateProduct","Admin", new { id = Model.Magiay, url = Model.urlBack })">Cập Nhật Số Lượng</a>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="name">Tên Giày</label>
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Tên Giày" value="@Model.Tengiay" />
                        </div>
                        <div class="form-group">
                            <label for="price">Giá Bán</label>
                            <input type="number" class="form-control" id="price" name="price" min="0" max="9999999999" placeholder="Giá Bán" value="@Model.Giaban" />
                        </div>
                        <div class="form-group">
                            <label for="imageCover">Ảnh Bìa</label>
                            <input type="file" class="form-control-file" id="imageCover" name="fileUpload">
                        </div>

                        @* hidden này dùng để lưu url *@
                        <input type="hidden" name="url" value="@Model.urlBack" />

                        <div class="form-group">
                            <label for="supplier">Nhà Cung Cấp</label>
                            <select class="form-control" id="supplier" name="supplier">
                                @foreach (var item in Model.listnhaCungCap)
                                {
                                    if (Model.MaNCC == item.MaNCC)
                                    {
                                        <option value="@item.MaNCC" selected>@item.TenNCC</option>
                                    }
                                    else
                                    {
                                        <option value="@item.MaNCC">@item.TenNCC</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="shoesType">Loại Giày</label>
                            <select class="form-control" id="shoesType" name="shoesType">
                                @foreach (var item in Model.listloaiGiay)
                                {
                                    if (Model.Maloai == item.Maloai)
                                    {
                                        <option value="@item.Maloai" selected>@item.Tenloaigiay</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Maloai">@item.Tenloaigiay</option>
                                    }
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-product-hunt" aria-hidden="true"></i>Lưu</button>
                        @if (!String.IsNullOrEmpty(Model.urlBack))
                        {
                            <a href="@Model.urlBack" class="btn btn-danger">Trở Lại</a>
                        }
                        else
                        {
                            <a href="@Url.Action("ListProduct","Admin")" class="btn btn-danger">Trở Lại</a>
                        }
                        @*<a href="@Url.Action("ListProduct","Admin")" class="btn btn-danger">Trở Lại</a>*@
                        <h3 id="Error">@ViewData["Error"]</h3>
                        <h3 id="Success">@ViewData["Success"]</h3>
                    </form>
                </div>
                }
                <div style="width:50%;margin: 0 50px;">
                    <div style="text-align:center; margin: 5px 0"><h3>Lưu ý</h3></div>
                    <div style="">
                        <ul style="width:100%">
                            <li>Nếu không cập nhật ảnh thì không cần nhấn vào choose file</li>
                            <li>Nếu cập nhật ảnh mà ảnh không đổi có nghĩa là đã trùng tên file ảnh, bạn phải đổi tên ảnh bạn muốn cập nhật</li>
                        </ul>
                    </div>
                    
                    <div style="margin-top: 1rem;display:inline-block">
                        <img src="~/Content/ProductImages/@Model.Anhbia" alt="@Model.Anhbia" width="200"/>
                        <p style="text-align: center">@Model.Anhbia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>