﻿@using ShoesStoreWebsiteProject.Models
@using PagedList.Mvc;
@model PagedList.PagedList<YKienKhachHang>
@{
    ViewBag.Title = "GuestComment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Ý Kiến Khách Hàng</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <table class="timetable_sub table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th>Mã ý kiến</th>
                        <th>Họ Tên</th>
                        <th>Email</th>
                        <th>Ngày Gửi</th>
                        <th>Nội Dung</th>
                        <th>Trạng Thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="rem1">
                            <td class="invert">@item.MaYKien</td>
                            <td class="invert">@item.HoTen</td>
                            <td class="invert">@item.Email</td>
                            <td class="invert">@String.Format("{0:dd/MM/yyyy}", item.NgayGui)</td>
                            @if (item.NoiDung.Length < 50)
                            {
                                <td class="invert">@item.NoiDung</td>
                            }
                            else
                            {
                                <td class="invert">@item.NoiDung.Substring(0, 50).....</td>
                            }
                            @if ((bool)item.TrangThai)
                            {
                                <td class="invert" style="color: green;font-weight: bold">Đã Xem</td>
                            }
                            else
                            {
                                <td class="invert" style="color: red;font-weight: bold">Chưa Xem</td>
                            }
                            <td class="invert">
                                <abbr title="Xem Chi Tiết">
                                    <a href="@Url.Action("CommentDetail","Admin", new { id = item.MaYKien, url = Request.Url.ToString()})" class="btn btn-primary">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </abbr>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="MenuPage">
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("GuestComment", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>

