﻿@*@model IEnumerable<ShoesStoreWebsiteProject.Models.QUANLY>*@

@using ShoesStoreWebsiteProject.Models
@using PagedList.Mvc;
@model PagedList.PagedList<QUANLY>
@{
    ViewBag.Title = "ListAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Danh Sách Admin</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <div style="margin-bottom: 5px">
                <button type="button" class="btn btn-info create-admin" data-toggle="modal" data-target="#myModal">Tạo Tài Khoản</button>
            </div>
            <table class="timetable_sub table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th>Tài Khoản</th>
                        <th>Họ Tên</th>
                        <th>Trạng Thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="rem1">
                            <td class="invert">@item.Taikhoan</td>
                            <td class="invert">@item.Hoten</td>
                            @if (item.Trangthai)
                            {
                                <td class="invert" style="color:green;font:bold">Đang Hoạt Động</td>
                            }
                            else
                            {
                                <td class="invert" style="color:red;font:bold">Tạm Khóa</td>
                            }

                            <td class="invert">
                                <abbr title="Đổi Mật Khẩu">
                                    <button type="button" class="btn btn-info modal-change-password" data-toggle="modal" data-target="#changePassword" data-account="@item.Taikhoan" data-accountName="@item.Hoten"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </abbr>
                                <abbr title="Khóa / Mở Khóa Tài Khoản">
                                    <button type="button" class="btn btn-danger modal-lock-admin" data-toggle="modal" data-target="#lockAccount" data-account="@item.Taikhoan" data-accountName="@item.Hoten"><i class="fa fa-stop" aria-hidden="true"></i></button>
                                </abbr>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="MenuPage">
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("ListAdmin", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal tạo tài khoản-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tạo Tài Khoản</h4>
            </div>
            <div class="modal-body">

                <form action="#">
                    <div class="form-group">
                        <label for="userName">tài khoản</label>
                        <input type="text" class="form-control" id="userName">
                    </div>
                    <div class="form-group">
                        <label for="password">mật khẩu:</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="form-group">
                        <label for="name">Họ Tên:</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success " id="btn-create-admin">Tạo</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal khóa tài khoản-->
<div class="modal fade" id="lockAccount" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">khóa / mở khóa tài khoản</h4>
            </div>
            <div class="modal-body">
                <p>Xác nhận khóa / mở khóa tài khoản này</p>
            </div>

            <!--lưu giá trị tài khoản-->
            <input type="hidden" id="hiddenAccount" value="0" />

            <div class="modal-footer">
                <button type="button" class="btn btn-success " id="btn-lock-admin">
                    Xác nhận
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal đổi mật khẩu-->
<div class="modal fade" id="changePassword" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đổi mật khẩu</h4>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="form-group">
                        <label for="password">Mật Khẩu</label>
                        <input type="password" class="form-control" id="change-password">
                    </div>
                    <!--lưu giá trị tài khoản-->
                    <input type="hidden" id="hiddenAccount-password" value="0" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-change-password">
                    Xác nhận
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

