﻿@using ShoesStoreWebsiteProject.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>
@{
    ViewBag.Title = "ListNotSellProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Danh Sách Sản Phẩm Ngừng Kinh Doanh</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <table class="timetable_sub table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th width="130">
                            Tên Giày
                        </th>
                        <th width="200">
                            Ảnh Bìa
                        </th>
                        <th>
                            Ngày Cập Nhật
                        </th>
                        <th>
                            Nhà Cung Cấp
                        </th>
                        <th>
                            Loại Giày
                        </th>
                        <th>
                            Tình Trạng
                        </th>
                        <th>
                            Giá Bán
                        </th>
                        <th width="50"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (!(bool)item.Trangthai)
                        {
                            <tr class="rem1">
                                <td class="invert">@item.Tengiay</td>
                                <td class="invert-image">
                                    <a href="@Url.Action("EditProduct","Admin", new { id = item.Magiay, url = Request.Url.ToString() })">
                                        <img src="~/Content/ProductImages/@item.Anhbia" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">@String.Format("{0:dd/MM/yyyy}", item.Ngaycapnhat)</td>
                                <td class="invert">@item.tenNhaCungCap</td>
                                <td class="invert">@item.loaiGiay</td>
                                <td class="invert" style="color: red;font-weight: bold">Ngừng Kinh Doanh</td>
                                <td class="invert">@String.Format("{0:##,#}", item.Giaban) VNĐ</td>
                                <td class="invert">
                                    <abbr title="Chỉnh Sửa">
                                        <a href="@Url.Action("EditProduct","Admin", new { id = item.Magiay, url = Request.Url.ToString()})" class="btn btn-primary">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </abbr>
                                    <abbr title="Ngừng Kinh Doanh / Mở Bán Sản Phẩm">
                                        <button type="button" class="btn btn-danger modal-stop-selling" data-toggle="modal" data-target="#stopSelling" data-product-id="@item.Magiay"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </abbr>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="MenuPage">
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("ListNotSellProduct", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="stopSelling" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ngừng kinh doanh / mở bán sản phẩm</h4>
            </div>
            <div class="modal-body">
                <p>Xác nhận ngừng kinh doanh / mở bán sản phẩm này</p>
            </div>

            <!--lưu giá trị tài khoản-->
            <input type="hidden" id="productID" value="0" />

            <div class="modal-footer">
                <button type="button" class="btn btn-success " id="btn-stop-selling">
                    Xác nhận
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

