﻿@using ShoesStoreWebsiteProject.Models
@using PagedList.Mvc;
@model PagedList.PagedList<LOAIGIAY>
@{
    ViewBag.Title = "ListloaiSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Danh Sách Loại Sản Phẩm </h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <table class="timetable_sub table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th width="250">
                            Mã Loại
                        </th>
                        <th width="300">
                            Tên Loại
                        </th>
                        <th width="200">
                            Trạng Thái
                        </th>
                        <th width="150"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr class="rem1">
                        <td class="invert">@item.Maloai</td>
                        <td class="invert">@item.Tenloaigiay</td>
                        @if (!(bool)item.Trangthai)
                        {
                            <td class="invert" style="color: red;font-weight: bold">Ẩn</td>
                        }
                        else 
                        {
                            <td class="invert" style="color: green;font-weight: bold">Mở</td>
                        }
                        <td class="invert">
                            <abbr title="Chỉnh Sửa">
                                <a href="@Url.Action("EditLoaiSP","Admin", new { id=item.Maloai, url=Request.Url.ToString()})" class="btn btn-primary">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </abbr>
                            <abbr title="Ẩn thể loại / Mở thể loại">
                                <button type="button" class="btn btn-danger modal-hide-category" data-toggle="modal" data-target="#hidecategory" data-category-id="@item.Maloai"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </abbr>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="MenuPage">
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("ListLoaiSP", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hidecategory" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ẩn thể loại / mở thể loại</h4>
            </div>
            <div class="modal-body">
                <p>Ẩn thể loại / mở thể loại</p>
            </div>

            <!--lưu giá trị tài khoản-->
            <input type="hidden" id="categoryID" value="0" />

            <div class="modal-footer">
                <button type="button" class="btn btn-success " id="btn-hide-category">
                    Xác nhận
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>