﻿@using ShoesStoreWebsiteProject.Models
@using PagedList.Mvc;
@model PagedList.PagedList<NHACUNGCAP>
@{
    ViewBag.Title = "ListNCC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Danh Sách Nhà Cung Cấp </h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <table class="timetable_sub table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th width="250">
                            Tên Nhà Cung Cấp
                        </th>
                        <th width="300">
                            Địa Chỉ
                        </th>
                        <th width="150">
                            Điện thoại
                        </th>
                        <th width="200">
                            Trạng Thái
                        </th>
                        <th width="150"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr class="rem1">
                        <td class="invert">@item.TenNCC</td>
                        <td class="invert">@item.Diachi</td>
                        <td class="invert">@item.DienThoai</td>
                        @if (!(bool)item.Trangthai)
                        {
                            <td class="invert" style="color: red;font-weight: bold">Ẩn</td>
                        }
                        else
                        {
                            <td class="invert" style="color: green;font-weight: bold">Mở</td>
                        }
                        <td class="invert">
                            <abbr title="Chỉnh Sửa">
                                <a href="@Url.Action("EditNCC","Admin", new { id=item.MaNCC, url=Request.Url.ToString()})" class="btn btn-primary">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </abbr>
                            <abbr title="Ẩn Nhà Cung Cấp / Mở Nhà Cung Cấp">
                                <button type="button" class="btn btn-danger modal-hide-ncc" data-toggle="modal" data-target="#hidencc" data-ncc-id="@item.MaNCC"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </abbr>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="MenuPage">
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("ListNCC", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hidencc" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ẩn nhà cung cấp / mở nhà cung cấp</h4>
            </div>
            <div class="modal-body">
                <p>Ẩn nhà cung cấp / mở nhà cung cấp</p>
            </div>

            <!--lưu giá trị tài khoản-->
            <input type="hidden" id="NCCID" value="0" />

            <div class="modal-footer">
                <button type="button" class="btn btn-success " id="btn-hide-ncc">
                    Xác nhận
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>