﻿@using ShoesStoreWebsiteProject.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DONDATHANG>
@{
    ViewBag.Title = "ListOrder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Danh Sách Đơn Hàng</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <table class="timetable_sub table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th>Mã Đơn Hàng</th>
                        <th>Ngày Đặt</th>
                        <th>Tình Trạng Đơn Hàng</th>
                        <th>Tổng Tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr class="rem1">
                        <td class="invert">@item.MaDonHang</td>
                        <td class="invert">@String.Format("{0:dd/MM/yyyy}", item.Ngaydat)</td>
                        @if ((bool)item.Tinhtranggiaohang)
                        {
                            <td class="invert" style="color: green"><i class="fa fa-check-square-o" aria-hidden="true" style="margin-right: 5px"></i>Đã Giao hàng</td>
                        }
                        else
                        {
                            <td class="invert" style="color: #EF4444"><i class="fa fa-truck" aria-hidden="true" style="margin-right: 5px"></i>Đang Vận Chuyển</td>
                        }
                    <td class="invert">@String.Format("{0:##,#}", item.Tongtien) VNĐ</td>
                        @*<td class="invert">@String.Format("{#.##0}", item.Tongtien)</td>*@
                        <td class="invert">
                            <abbr title="Chi Tiết Đơn Hàng">
                                <a href="@Url.Action("OrderDetail","Admin", new { orderID = item.MaDonHang, totalBill = item.Tongtien, userID = item.MaKH, strURL = Request.Url.ToString() })" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </abbr>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="MenuPage">
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("ListOrder", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>

