﻿@using ShoesStoreWebsiteProject.Models
@using PagedList.Mvc;
@model PagedList.PagedList<KHACHHANG>
@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Danh Sách Người Dùng</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <table class="timetable_sub table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th>Mã Khách Hàng</th>
                        <th>Tên Khách Hàng</th>
                        <th>Tên Tài Khoản</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="rem1">
                            <td class="invert">@item.MaKH</td>
                            <td class="invert">@item.HoTen</td>
                            <td class="invert">@item.Taikhoan</td>
                            <td class="invert">
                                <abbr title="Xem Chi Tiết Người Dùng">
                                    <a href="@Url.Action("UserInformation","Admin", new { id = item.MaKH, url = Request.Url.ToString() })" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </abbr>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="MenuPage">
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("ListUser", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>

