﻿
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Đăng Nhập - Admin</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Online Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/Content/styleLogin.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Content/font-awesomeLogin.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body id="body2">
    <!-- main -->
    <div class="container">
        <!--header-->
        <div class="header-w3l">
            <h1>TeaCup Admin</h1>
        </div>
        <!--//header-->
        <div class="main-content-agile">
            <div class="sub-main-w3">
                <div id="background-login">
                    <div class="wthree-pro">
                        <h2>Đăng Nhập</h2>
                    </div>
                    <div class="input-admin">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <form action="#" method="post">
                                <div class="pom-agile">
                                    <input placeholder="Tài Khoản" name="username" class="user" type="text">
                                    <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                                </div>
                                <div class="pom-agile">
                                    <input placeholder="Mật Khẩu" name="password" class="pass" type="password">
                                    <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                                </div>
                                <div class="sub-w3l">
                                    <div class="right-w3l">
                                        <input type="submit" value="Đăng Nhập">
                                    </div>
                                </div>
                                <div class="sub-w3l">
                                    <h6>@ViewData["Error"]</h6>
                                </div>
                            </form>
                        }
                    </div>
                    </div>
            </div>
        </div>
        <!--//main-->
    </div>
</body>
</html>