﻿@model IEnumerable<ShoesStoreWebsiteProject.Models.OrderDetail>

@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var a = Model.First();
    var id = a.iUserID;
}
<style>
    .div5 {
        width: 50%;
    }

    .flex-end {
        display: flex;
        justify-content: flex-end;
    }

    .flex-center {
        display: flex;
        align-items: center;
    }
</style>
<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Danh Sách Đơn Hàng</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <div style="margin-bottom: 5px">
                Mã Đơn hàng: @ViewBag.orderID <br />
                <div class="flex-center">
                    <div class="div5"> Người Đặt Hàng: <a href="@Url.Action("UserInformation","Admin", new { id, url = Request.Url.ToString() })">@ViewBag.userName</a> <!--ViewBag.userID: mã user--> </div>
                    <div class="div5 flex-end">
                        <button type="button" class="btn btn-info modal-complete-order" data-toggle="modal" data-target="#completeOrder" data-order-id="@a.iOrderID">Hoàn thành đơn hàng</button>
                    </div>
                </div>

            </div>
            <table class="timetable_sub table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th width="200">Tên Giày</th>
                        <th width="250">Ảnh</th>
                        <th>Size</th>
                        <th>Số Lượng</th>
                        <th>Đơn Giá</th>
                        <th>Tổng Tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="rem1">
                            <td class="invert">@item.sShoesName</td>
                            <td class="invert-image">
                                <a href="@Url.Action("EditProduct","Admin", new { id = item.iShoesID})">
                                    <img src="~/Content/ProductImages/@item.sImageCover" alt=" " class="img-responsive">
                                </a>
                            </td>
                            <td class="invert">@item.iShoesSize</td>
                            <td class="invert">@item.iAmount</td>
                            <td class="invert">@String.Format("{0:##,#}", item.dCost) VNĐ</td>
                            <td class="invert">@String.Format("{0:##,#}", item.dTotalMoney) VNĐ</td>
                        </tr>
                    }
                    <tr>
                        <td style="color:red;font-weight: bold;font-size: 25px;text-align:right" colspan="6">Tổng Cộng: @String.Format("{0:##,#}", ViewBag.TotalBill) VNĐ</td>
                    </tr>
                </tbody>
            </table>
            <div style="display:flex;justify-content:flex-end;margin-top:10px;">
                <a href="@Model.First().urlBackToListOrder" class="btn btn-danger">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    Trở Lại
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal hoàn thành đơn hàng-->
<div class="modal fade" id="completeOrder" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:red; font-size:30px">Hoàn thành đơn hàng</h4>
            </div>
            <div class="modal-body">
                <p>Xác nhận hoàn thành đơn hàng này</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success " id="btn-done">
                    Xác nhận
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>