﻿@model ShoesStoreWebsiteProject.Models.SANPHAM

@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Chỉnh Sửa Sản Phẩm</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <div style="margin-bottom: 5px">
                <a href="@Url.Action("EditProduct","Admin", new { id = Model.Magiay, url = Model.urlBack })">Chỉnh Sửa Thông Tin</a> |
                <a href="@Url.Action("UpdateProduct","Admin", new { id = Model.Magiay, url = Model.urlBack })">Cập Nhật Số Lượng</a>
            </div>
            <div style="width:100%;display:flex; justify-content:center">
                <!-- strURL :lưu xong reload lại trang-->
                @using (Html.BeginForm("UpdateProduct", "Admin", FormMethod.Post, new { id = Model.Magiay}))
                {
                    Html.AntiForgeryToken();
                    <div style="width:350px">
                        <form>
                            @for (int i = 0; i < Model.maSize.Count; i++)
                            {
                                <div class="form-group">
                                    <label for="@(35+Model.maSize[i])">Size @(35+Model.maSize[i])</label>
                                    <input type="number" class="form-control" id="@(35+Model.maSize[i])" name="size@(35+Model.maSize[i])" min="0" max="2000000" placeholder="Size @(35+Model.maSize[i])" value="@Model.soluongton[i]" />
                                </div>
                            }

                            @* hidden này dùng để lưu url *@
                            <input type="hidden" name="url" value="@Model.urlBack" />

                            <button type="submit" class="btn btn-primary"><i class="fa fa-product-hunt" aria-hidden="true"></i>Lưu</button>
                            @if (!String.IsNullOrEmpty(Model.urlBack))
                            {
                                <a href="@Model.urlBack" class="btn btn-danger">Trở Lại</a>
                            }
                            else
                            {
                                <a href="@Url.Action("ListProduct","Admin")" class="btn btn-danger">Trở Lại</a>
                            }
                            <h3 id="Error">@ViewData["Error"]</h3>
                            <h3 id="Success">@ViewData["Success"]</h3>
                        </form>
                    </div>
                }
                <div style="width:50%;margin: 0 50px;">
                    <div style="text-align:center; margin: 5px 0"><h3>Lưu ý</h3></div>
                    <div style="">
                        <ul style="width:100%">
                            <li>Nếu không cập nhật ảnh thì không cần nhấn vào choose file</li>
                            <li>Nếu cập nhật ảnh mà ảnh không đổi có nghĩa là đã trùng tên file ảnh, bạn phải đổi tên ảnh bạn muốn cập nhật</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>