﻿@model ShoesStoreWebsiteProject.Models.KHACHHANG

@{
    ViewBag.Title = "UserInformation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var a = "";
    if (Model.Ngaysinh != null)
    {
        a = String.Format("{0:dd/MM/yyyy}", Model.Ngaysinh);
    }
    else { a = "Chưa Thiết Lập"; }
}

<style>
    .warp {
        width: 50%;
    }
        .warp div {
            display: flex;
            justify-content: center;
            margin-bottom: 3px;
        }
    .center div{
        display: flex;
    }
    .div3{
        width: 30%;
        text-align: center;
    }
    .div7 {
        width: 70%;
        text-align: center;
    }
    .div1 {
        justify-content: center;
        display: flex;
        
    }
</style>
<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Thông Tin Người Dùng</h3>
        <div class="blank-page widget-shadow scroll div1" id="style-2 div1">
            <div class="warp">
                <div>
                    <div class="div3">Mã Khách Hàng: </div>
                    <div class="div7">@Model.MaKH</div>
                </div>
                <div>
                    <div class="div3">Tên Khách Hàng: </div>
                    <div class="div7">@Model.HoTen </div>
                </div>
                <div>
                    <div class="div3">Tài Khoản: </div>
                    <div class="div7">@Model.Taikhoan</div>
                </div>
                <div>
                    <div class="div3">Email: </div>
                    <div class="div7">@Model.Email</div>
                </div>
                <div>
                    <div class="div3">Địa Chỉ: </div>
                    <div class="div7">@Model.DiachiKH</div>
                </div>
                <div>
                    <div class="div3">Ngày Sinh: </div>
                    <div class="div7">@a</div>
                </div>
                <div>
                    <div class="div3"></div>
                    <div class="div7"><a href="@Url.Action("UserOrderHistory","Admin", new { id = Model.MaKH, userName = Model.HoTen, strURL = Request.Url.ToString() })">Lịch Sử Đặt Hàng</a></div>
                </div>
                <div>
                    <div class="div3"></div>
                    <div class="div7"><a href="@Model.urlBack" class="btn btn-danger">Trở Lại</a></div>
                </div>
            </div>
        </div>
    </div>
</div>