﻿@*@model IEnumerable<ShoesStoreWebsiteProject.Models.DONDATHANG>*@
@using ShoesStoreWebsiteProject.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DONDATHANG>
@{
    ViewBag.Title = "UserOrderHistory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Danh Sách Đơn Hàng</h3>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <div style="margin-bottom: 5px">Danh Sách Đơn Hàng Của Khách: <b>@ViewBag.userName</b> </div>
            <table class="timetable_sub table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th>Mã Đơn Hàng</th>
                        <th>Ngày Đặt</th>
                        <th>Tình Trạng Đơn Hàng</th>
                        <th>Tổng Tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="rem1">
                            <td class="invert">@item.MaDonHang</td>
                            @*@{
                                    var a = String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.Ngaydat); // parse thành kiểu ngày/tháng/năm
                                    item.Ngaydat = DateTime.Parse(a);
                                }*@
                            <td class="invert">@item.Ngaydat</td>
                            @if ((bool)item.Tinhtranggiaohang)
                            {
                                <td class="invert" style="color: green"><i class="fa fa-check-square-o" aria-hidden="true" style="margin-right: 5px"></i>Đã Giao hàng</td>
                            }
                            else
                            {
                                <td class="invert" style="color: #EF4444"><i class="fa fa-truck" aria-hidden="true" style="margin-right: 5px"></i>Đang Vận Chuyển</td>
                            }
                        <td class="invert">@String.Format("{0:##,#}", item.Tongtien) VNĐ</td>
                            <td class="invert">
                                <abbr title="Chi Tiết Đơn Hàng">
                                    <a href="@Url.Action("OrderDetail","Admin", new { orderID = item.MaDonHang, totalBill = item.Tongtien, userID = item.MaKH, strURL = Request.Url.ToString() })" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </abbr>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="display:flex;justify-content:flex-end;margin-top:10px;">
                @if (Model.Count != 0)
                {
                    <a href="@Model.First().urlBacktoUserInformation" class="btn btn-danger">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                        Trở Lại
                    </a>
                }
                else
                {
                    <a href="@ViewBag.urlBacktoUserInformation" class="btn btn-danger">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                        Trở Lại
                    </a>
                }


            </div>
            <div class="MenuPage">
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("UserOrderHistory", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>

