﻿@using ShoesStoreWebsiteProject.Models;
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        //function hideURLbar() {
        //    window.scrollTo(0, 1);
        //}
    </script>
    <!-- Custom Theme files -->
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="~/Content/shop.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/footer1.css" rel="stylesheet" />
    <!-- font-awesome icons -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/checkout.css" type="text/css" rel="stylesheet" media="all">
    <!-- Range-slider-css -->
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui1.css">
    <!-- flexslider-css -->
    <link rel="stylesheet" href="~/Content/flexslider.css" type="text/css" media="screen" />
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
    <title>Tea Cup ShoesStore</title>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">
        <!-- header -->
        <!-- #region navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="main-nav">
                <div class="container">

                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Chronicle</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a class="navbar-brand" href="@Url.Action("Home","Home")" style="font-family: 'Great Vibes', cursive;">Tea Cup</a>
                        </h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                        <ul class="nav navbar-nav navbar-left cl-effect-15">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Home","Home")">Trang Chủ</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListProduct","Product")">Sản Phẩm</a>
                            </li>
                            <li>
                                <a href="@Url.Action("AboutUs","Home")">Về Chúng Tôi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ContactUs","Home")">Liên Hệ</a>
                            </li>

                            @if (Session["User"] == null)
                            {
                                <li>
                                    <a href="@Url.Action("Login", "User", new { strURL = Request.Url.ToString()})" title="Đăng Nhập">
                                        <span class="fa fa-user nav-icon" aria-hidden="true"></span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="dropdown">
                                    @Html.Action("_User","User")
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("MyProfile","User")">Hồ sơ của tôi</a>
                                            <!--strURL tránh tình trạng người dùng chưa đăng nhập nhưng lại truy cập trực tiếp vào dường link này-->
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ChangePassword","User")">Thay đổi mật khẩu</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("OrderHistory","Order", new { strURL = Request.Url.ToString()})">Lịch sử đặt hàng</a>
                                            <!--strURL tránh tình trạng người dùng chưa đăng nhập nhưng lại truy cập trực tiếp vào dường link này-->
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LogOut","User")">Đăng xuất</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                        <!-- search-bar -->
                        <div class="search-bar-agileits">
                            <div class="cd-main-header">
                                <ul class="cd-header-buttons">
                                    <li>
                                        <a class="cd-search-trigger" href="#cd-search">
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- cd-header-buttons -->
                            </div>
                            <div id="cd-search" class="cd-search">
                                @using (Html.BeginForm("SearchProduct", "Product"))
                                {
                                    <form action="#" method="post">
                                        <input name="search" type="search" placeholder="Nhập Sản Phẩm Cần Tìm">
                                    </form>
                                }
                            </div>
                        </div>
                        <!-- //search-bar ends here -->
                        <!-- shopping cart -->
                        <div class="cart-mainf">
                            <div class="chrcart chrcart2 cart cart box_1">
                                @Html.Action("_CartPartial", "Cart")
                            </div>
                        </div>
                        <!-- //shopping cart ends here -->
                    </div>
                    <!-- /.navbar-collapse -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.container -->
            </div>
        </nav>
        <!-- #endregion //navbar ends here -->
        <div>
            @RenderBody()
        </div>

        <!-- #region footer -->
        <div class="w3_footerv1 section">
            <div class="container">
                <div class="w3_footerv1_grids">
                    <div class="col-md-3 col-sm-6 col-xs-6 w3_footerv1_grid">
                        <h3>Liên Hệ</h3>
                        <p>Mọi thông tin chi tiết xin vui lòng liên hệ qua địa chỉ: </p>
                        <ul class="address">
                            <li>
                                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>965/82 Quang Trung, phường 14, quận Gò Vấp, thành phố Hồ Chí Minh, Việt Nam
                            </li>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:tannguyenvnkg@gmail.com">tannguyenvnkg@gmail.com</a></li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6  w3_footerv1_grid">
                        <h3>Thông Tin</h3>
                        <ul class="info">
                            <li><a href="@Url.Action("AboutUs","Home")">Về chúng tôi</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")">Đội ngũ quản lý</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6  w3_footerv1_grid">
                        <h3>Sản Phẩm Nổi Bật</h3>
                        <ul class="info">
                            <li><a href="@Url.Action("ProductWithTrademark","Product", new { id = 1})">Nike</a></li>
                            <li><a href="@Url.Action("ProductWithTrademark","Product", new { id = 2})">Biti's</a></li>
                            <li><a href="@Url.Action("ProductWithTrademark","Product", new { id = 3})">Adidas</a></li>
                            <li><a href="@Url.Action("ProductWithTrademark","Product", new { id = 4})">Puma</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 w3_footerv1_grid">
                        <h3>Xu Hướng Hiện Nay</h3>
                        <ul class="info">
                            <li><a href="@Url.Action("ProductWithTrademark","Product", new { id = 3})">Adidas</a></li>
                            <li><a href="@Url.Action("ProductWithTrademark","Product", new { id = 4})">Biti's</a></li>
                        </ul>
                        <div id="footer-API">
                            <h4>Kết Nối Với Chúng Tôi</h4>
                            <div class="agileits_social_button">
                                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTea-Cup-Shoes-Stroe-101873898839750%2F&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=283407380238885" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                        
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- #endregion//footer -->
    </div>

    <!-- //home -->
    <!-- #region javascript -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- //js -->
    <!--search jQuery-->
    <script src="~/Scripts/main.js"></script>
    <!--search jQuery-->
    <!-- cart-js -->
    <script src="~/Scripts/minicart.js"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>

    <!-- //cart-js -->
    <!--quantity-->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });

        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!--quantity-->
    <!-- FadeOut-Script -->
    <script>
        $(document).ready(function (c) {
            $('.close1').on('click', function (c) {
                $('.rem1').fadeOut('slow', function (c) {
                    $('.rem1').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close2').on('click', function (c) {
                $('.rem2').fadeOut('slow', function (c) {
                    $('.rem2').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close3').on('click', function (c) {
                $('.rem3').fadeOut('slow', function (c) {
                    $('.rem3').remove();
                });
            });
        });
    </script>
    <!--// FadeOut-Script -->
    <!-- zoom -->
    <script src="~/Scripts/imagezoom.js"></script>
    <!-- zoom-->
    <!-- single -->
    <!-- FlexSlider -->
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <!-- Scrolling Nav JavaScript -->
    <script src="~/Scripts/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- start-smooth-scrolling -->
    <script src="~/Scripts/move-top.js"></script>
    <script src="~/Scripts/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="~/Scripts/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- about bottom grid Numscroller -->
    <script src="~/Scripts/numscroller-1.0.js"></script>
    <!-- //about bottom grid Numscroller -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- #endregion -->
</body>
</html>

