﻿@using ShoesStoreWebsiteProject.Models;
@{
    var admin = (QUANLY)Session["Admin"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrapAdmin.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/styleAdmin.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/checkout.css" type="text/css" rel="stylesheet" media="all">
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="~/Content/font-awesomeAdmin.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet">
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <div class=" sidebar " role="navigation">
            <div class="navbar-collapse">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-user nav_icon"></i>Tài Khoản<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                @if ((bool)admin.Chusohuu) // nếu là chủ sở hữu thì có thể quản lý admin
                                {
                                    <li>
                                        <a href="@Url.Action("ListAdmin","Admin")">Admin</a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("ListUser","Admin")">Người Dùng</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-book nav_icon"></i>Sản Phẩm<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="@Url.Action("ListProduct","Admin")">Danh Sách Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddProduct","Admin")">Thêm Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListOutOfProduct","Admin")">Danh Sách Sản Phẩm Hết Hàng</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListNotSellProduct","Admin")">Danh Sách Sản Phẩm Ngừng Kinh Doanh</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li class="">
                            @*Danh sách nhà cung cấp*@
                            <a href="#"><i class="fa fa-building-o nav_icon"></i>Nhà Cung Cấp<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="@Url.Action("ListNCC","Admin")">Danh Sách Nhà Cung Cấp</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddNCC","Admin")">Thêm Nhà Cung Cấp</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li class="">
                            @*Danh sách loại sản phẩm*@
                            <a href="#"><i class="fa fa-tags nav_icon"></i>Loại Sản Phẩm<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="@Url.Action("ListLoaiSP","Admin")">Danh Sách Loại Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddLoaiSP","Admin")">Thêm Loại Sản Phẩm</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li>
                            <a href="@Url.Action("ListOrder","Admin")"><i class="fa fa-shopping-cart nav_icon"></i>Danh Sách Đơn Hàng</a>
                        </li>
                        <li>
                            @*<a href="#"><i class="fa fa-envelope nav_icon"></i>Phản Hồi<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li>*@
                            <a href="@Url.Action("GuestComment","Admin")"><i class="fa fa-envelope nav_icon"></i>Ý Kiến Khách Hàng </a>
                            @*</li>
            </ul>*@
                            <!-- //nav-second-level -->
                        </li>

                    </ul>
                    <div class="clearfix"> </div>
                    <!-- //sidebar-collapse -->
                </nav>
            </div>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <!--toggle button end-->
                <!--logo -->
                <div class="logo">
                    <a href="@Url.Action("ListProduct","Admin")">
                        <h1>TeaCup</h1>
                        <span style="padding-right: 4px">ShoesStore</span>
                    </a>
                </div>
                <!--//logo-->
            </div>
            <div class="header-right">
                @Html.Action("_profilePartial", "Admin")
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <div>
            @RenderBody()
        </div>

        <!-- Modal đổi mật khẩu-->
        <div class="modal fade" id="change-password-admin-login" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color:red;font-size:30px">Đổi mật khẩu</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#">
                            <div class="form-group">
                                <label for="oldPassword">Mật Khẩu Cũ:</label>
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword">
                            </div>
                            <div class="form-group">
                                <label for="newPassword">Mật Khẩu Mới:</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Nhập Lại Mật Khẩu:</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                            </div>
                            <!--lưu giá trị tài khoản-->
                            <input type="hidden" id="userName-admin-login" value="0" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btn-change-password-admin-login">
                            Xác nhận
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script src="~/Scripts/plugins/admin.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>

    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
